[submodule "riscv-linux"]
	path = riscv-linux
	url = ../riscv-linux
	branch = priv-1.9
	shallow = true

[submodule "riscv-pk"]
	path = riscv-pk
	url = ../riscv-pk
	shallow = true
[submodule "frenox-buildroot"]
	path = frenox-buildroot
	url = ssh://git@bitbucket:7999/fren/buildroot.git
